<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Bowlby+One|Luckiest+Guy|Sigmar+One" rel="stylesheet">
    <link href="{% static 'css/Styling.css' %}" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div class="container">

    <nav class = "navbar navbar-default navbar-static-top">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id = "SeeNext"href="{% url 'index' %}">SeeNext</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <!-- <li class="dropdown"><a href="#" data-toggle="dropdown">Movie<i class="icon-arrow"></i></a></li> -->
          {% if user.is_authenticated %}
          <li><a href="MovieRate.html">Profile</a></li>
          <li><a href="{% url 'movieRate' %}">Rate Some Movies!</a></li>
          <li><a href="MovieRate.html">Current Recommendations</a></li>
          <li><a class = "navbar-link" href="{% url 'logout'%}">Log Out</a></li>
          <li><form class="navbar-form navbar-left">
              <div class="form-group">
                <input id = "searchbox" type="text" class="form-control" placeholder="Search">
                  </div>
                    <button id="button" type="submit" class="btn btn-default">Submit</button>
                </form>
          </li>
          {% else %}
          <li><a class = "navbar-link" href="{% url 'mainApp:signup' %}">Sign Up</a></li>
          <li><a class="navbar-link"href="{% url 'mainApp:user_login' %}">Log In</a></li>
          {% endif %}

      </ul>
    </div>
</nav>
    {% block body_block %}

    {% endblock %}
</div>
<script
   src="https://code.jquery.com/jquery-3.1.1.min.js"
   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
   crossorigin="anonymous">
   </script>

<script src="{% static 'js/myJS.js' %}"></script>
  </body>
</html>
